*.zip
*.tar
*.tar.gz
*.log
*.tmp
*.txt
*.xml
*.html
.idea
robots.txt
/bitrix
/upload
/local/php_interface/include/constants.php
/local/php_interface/data/*
/local/php_interface/log

/local/templates/.default/frontend
/local/modules/

#/local/components
/.htaccess
/.htpasswd
/webstat
web.config
yandex*.txt
google*.html
#cmsmagazine*.txt
.DS_Store
.constants_for_ide.php
node_modules/
vendor/
*.lock
*-lock.json
mix-manifest.json
mix.js.map
mysql_debug.sql
_dev.*
